<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test name="FireFoxTest">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.docker.hub.Testcases.DockerHUBWebTest"/>
            <class name="com.docker.hub.utility.TestBase"></class>
        </classes>
    </test> <!-- Test -->

    <test name="ChromeTest">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.docker.hub.Testcases.DockerHUBWebTest">
            </class>
            <class name="com.docker.hub.utility.TestBase"></class>
        </classes>

    </test>



</suite> <!-- Suite -->
